body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('weather.jpg');
}

.weather-container {
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    /* opacity: 0 ;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease; */
}
.weather-container button{
    border-radius: 40px;
    background-color: aqua;
}

/* .weather-container.show {
    opacity: 1;
    transform: translateY(0);
} */
.bottom{
   
    background-color: black;
    color: #fff;
}